.text{
    background-color:rgb(48, 46, 46) ;
    color: rgb(125, 200, 208);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    border: 2px solid white;
    box-shadow: 2px 2px 10px 2px rgb(146, 187, 188);
}
