@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex{
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 22px;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  border: 2px solid white;
  box-shadow: 2px 2px 10px 2px white;
}
.nav li{
border: 1px solid rgb(31, 31, 31);
padding: 10px;
}
.nav li:hover{
  background-color: #603a3a;
}